.project-view-resource{
    width: 100%;
    margin-bottom: 1rem;
}
embed{
    width: 100%;
    height: 80vh;
}
.project-view-link{
    margin-bottom: 1.5rem;
}
.project-view-link::after{
    display: none;
}

a::after{
    display: none;
}